body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-track {
    background: rgba(198, 198, 198, 0.8);
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 20px;
    background-color: #f5f5f5;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-item h3 {
    font-size: 1.2em;
    margin: 10px 0;
    flex-grow: 1;
}

.product-item p {
    font-weight: bold;
    color: #e74c3c;
}

.add-to-cart {
    background-color: #be005f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: auto;
}

.add-to-cart:hover {
    background-color: #ab0d5c;
}

.price-stock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0; 
}

.price-stock p {
    margin: 0;
    font-weight: bold;
    color: #e74c3c;
}

.price-stock .stock {
    color: #555; 
    margin-left: 10px;
}

/* Banner */
.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.banner-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: none;
}

.banner-image.active {
    display: block;
}

.prev, .next {
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 20px;    
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s
}

.prev {
    left: 0.1px;
}

.next {
    right: 0.1px;
}

/**/
.modal {
    display: none; /* Ẩn modal theo mặc định */
    position: fixed; /* Đặt vị trí cố định */
    z-index: 1; /* Đặt z-index cao để hiển thị trên các phần khác */
    left: 0;
    top: 0;
    width: 100%; /* Toàn bộ chiều rộng */
    height: 100%; /* Toàn bộ chiều cao */
    overflow: auto; /* Kích hoạt cuộn nếu cần */
    background-color: rgb(0,0,0); /* Màu nền */
    background-color: rgba(0,0,0,0.4); /* Màu nền với độ trong suốt */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Đặt vị trí giữa */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Chiều rộng của modal */
    border-radius: 10px; /* Bo góc cho modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.input-box {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-box i {
    margin-right: 10px;
    color: #888;
}

.input-box input {
    border: none;
    outline: none;
    width: 100%;
}

.pagination {
    display: flex;
    justify-content: center; 
    margin: 20px 0; 
}

.pagination a {
    text-decoration: none;
    padding: 3px 7px;
    margin: 0 5px; /* Khoảng cách giữa các nút */
    border: 1px solid #ccc; /* Đường viền màu xanh */
    border-radius: 5px; /* Bo góc */
    color: #686868; /* Màu chữ xanh */
    transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển tiếp */
}

.pagination a:hover {
    background-color: #ccc; /* Màu nền khi hover */
    color: white; /* Màu chữ trắng khi hover */
}

.pagination .active {
    background-color: #ccc; /* Màu nền cho trang đang hoạt động */
    color: white; /* Màu chữ trắng cho trang đang hoạt động */
    border: 1px solid #ccc; /* Đường viền màu xanh cho trang đang hoạt động */
    pointer-events: none; /* Không cho phép nhấn vào trang đang hoạt động */
}

tl{
    margin-left: 28px;
    font-size: 30px;
}
.left-menu {
    position: fixed; 
    top: 95px;
    left: 25px;
    width: 150px;
    height: auto;
    background-color: #f5f5f5;
    padding: 8px;
 transition: transform 0.2s ease, box-shadow 0.3s ease;
    z-index: 10;
    border-radius: 8px;
}

.left-menu.hidden {
    transform: translateY(-150%); 
}
.left-menu ul li {
    position: relative;
    white-space: nowrap;
    padding: 5px 0;
    font-size: 18px;
    left: 0px;
    display: flex;
    justify-content: left;
}

.left-menu ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    background-size: 100% 55px; /* Chiều dài background ban đầu */
    background-image: linear-gradient(to right, #ff7f50, #f5f5f5);
    transition: background-size 0.3s ease; /* Hiệu ứng khi hover */
}

.left-menu ul li:nth-child(2) a {
    background-size: 100% 15px;
}

.left-menu ul li:nth-child(3) a {
    background-size: 100% 13px;
}

/* Hiệu ứng hover cho các liên kết */
.left-menu ul li a:hover {
    background-size: 100% 20px; /* Tăng chiều dài khi hover */
    padding-left: 15px; /* Đẩy vào khi hover */
}
